@font-face {
   	font-family: 'Nexa Light';
	src: url("fonts/Nexa Light.otf") format("opentype");
}

@font-face {
   	font-family: 'Nexa Bold';
	src: url("fonts/Nexa Bold.otf") format("opentype");
}

@font-face {
   	font-family: 'GOTHIC_6';
	src: url("fonts/GOTHIC_6.TTF") format("truetype");
}

body { 
	background-image: url('../img/bg.png') ;

 font-family: 'Nexa Light', sans-serif; font-weight: 300; font-size: 16px; line-height: 1.6em; color: #444; padding: 0; margin: 0; overflow: hidden; }

h1, h2, h3, h4, h5 { color: #FB6D3F; margin: 0 0 8px 0; line-height: 1.5em; font-family: 'Roboto', sans-serif; font-weight: 300; }
h1 { font-size: 28px; }
h2{ font-size: 25px; }
h3{ font-size: 20px;}
h4{ font-size: 15px; font-weight: 700; color: #444444; }

a { color: #168a0a; transition:all 0.1s; -webkit-transition:all 0.15s; -moz-transition:all 0.15s; text-decoration: none; }
a:hover, a:focus { color: #2d8f13; outline: none; text-decoration: none; }
/*a:active { transform:scale(0.9,0.9); -ms-transform:scale(0.9,0.9); -webkit-transform:scale(0.9,0.9); -moz-transform:scale(0.9,0.9); }*/
#formlogin input[type="text"], #formlogin input[type="password"]{
	text-transform: none;
}

input[type="text"], input[type="password"], select { font-family: 'Century Gothic', sans-serif; margin: 0; line-height: 21px; height: auto;text-transform: uppercase;}
select { background: url("../img/bg_gray.jpg") bottom repeat-x; }
select:hover, select:focus { border:1px solid #6ab16d; outline: none; }

.container{width: 790px ;}

/*----------------------------------------------------------------------------------------------------------------------------- Nav's */
.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }
.nav-tabs { background: url("../img/bg_gray.jpg") bottom repeat-x; border-top:1px solid #DDD; margin-bottom: 0; }
.nav-tabs li a { border: none; border-right: 1px solid #e7e7e7; margin: 0; padding: 7px 20px 8px 20px; font-size: 13px; border-radius: 0; color: #999; }
.nav-tabs li a:hover { color:#333; border: none; border-right: 1px solid #EEEEEE; }
.nav-tabs li.disabled a { color: #DEDEDE; }
.nav-tabs li a:active,.nav-tabs li.active a,.nav-tabs li.active a:hover
{ border: none; border-right: 1px solid #e7e7e7; background: url("../img/bg_gray.jpg") top repeat-x; color: #555; text-shadow: 1px 1px 2px #CCC; }

/*----------------------------------------------------------------------------------------------------------------------------- Button & link's*/
.button, button { display: inline-block; vertical-align: bottom; font-family: 'GOTHIC_6', sans-serif; font-weight: 400; font-size: 14px;/* -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; */line-height: 32px; padding: 0 20px; display: inline-block; background: #EF9825; color: #FFF; border:0; -webkit-transition:all .2s; }
.button:hover, button:hover, button:focus { color: #FFF !important; background: #FF914E; text-decoration: none; outline: none; }
.button:active, button:active { color: #FFF !important; background: #4CC482; outline: none; transform:scale(.9,.9); -moz-transform:scale(.9,.9); -webkit-transform:scale(.9,.9); -ms-transform:scale(.9,.9); }

.button-mini{ font-size: 13px; padding: 0 8px; line-height: 25px; vertical-align: middle; }
.button-red { background: #EE7D12; }
.button-red:hover { background: #FDB875; color: #FFF; }
.button-red:focus { background: #EE7D12; color: #FFF; }
.button-red:active { background: #EE7D12; color: #FFF; }

.button-green { background: #62BFA0; padding-right: 30px;margin-right: 15px;}
.button-green:hover { background: #00BFA0; color: #FFF; }
.button-green:focus { background: #00BFA0; color: #FFF; }
.button-green:active { background: #00BFA0; color: #FFF; }

.button-autofit { display: block; width: auto; text-align: center; }

.boxgreen{background: #62BFA0; color: #FFFFFF;}

/* ----------------------------------------------------------------------------------------------------------- Content's */
.content { padding: 15px 20px 5px 20px; }
.content-box { background: #FFF; border-radius: 4px; box-shadow: 1px 1px 5px rgba(0,0,0,.2); }
.content-search input { padding-right: 35px; }
.content-search a{ float: right; margin: -26px 10px 0 0; position: relative; z-index: 2; font-size: 19px; }

/* ----------------------------------------------------------------------------------------------------------- Header */
#header {
	background: #EE7D12;
	text-align: center;
	padding: 30px 0;
}
#content
{
	padding-top: 45px;
}
/* ---------------------------------------------------------------------------------------------------------- Footer */
#footer {  }


/* ---------------------------------------------------------------------------------------------------------- Registro */
#form{margin: 0px 0px 0px;}
.block-register
{
	background: #E6E6E6;
	border-radius: 15px;
	width: 525px;
	margin: 0 auto;
	padding: 8px 0;
	float: right;
}
.titlec, .datec{margin-left: 57px;margin-bottom: 15px;}
.table-register
{

}
.table-register input[type=text]
{
	border-radius: 8px;
	border: none;
	width: 345px;
}
.table-register .asterisk
{
	font-size: 22px;
	line-height: 35px;
	vertical-align: middle;
	display: inline-block;
}
.table-register td
{
	padding: 3px 5px 2px 0px;
}
.table-register th
{
	text-align: right;
	width: 125px;
	line-height: 15px;
	font-size: 15px;
	font-weight: normal;
	padding: 0 5px 0 0;
}

.block-juguetes
{
	margin-top: -50px;
}
.block-juguetes .juguete1
{
	margin-top: -170px;
}
.contentimgchris{
	position: relative;
}
.imgchris
{
	max-width: inherit;
	overflow: hidden;
	left: -123px;
	position: absolute;
	z-index: -10;
}


.terminos
{
	text-align: left;
	margin-right: 25px;
}
.terminos p
{
	font-size: 11px;
	margin: 0;
	line-height: 15px;
}
#submitform img:hover{margin-top:-2px;}

/* - popup--*/
.popup-conditions {display:none; position: fixed; top: 50%; left: 50%; width: 682px; margin: -225px 0 0 -341px; z-index: 101; }
.btn-close{width: 20px;height: 20px;top: 20px;position: absolute;right: 20px; background: url('../img/bg_close.png') 0 0 repeat; font-size: 24px;}

.popup-msg, .popup-msg2 {display:none; position: fixed; top: 50%; left: 50%; width: 682px; margin: -96px 0 0 -341px; z-index: 101; }
.btn-close-msg{width: 40px;height: 40px;top: 18px;position: absolute;right: 22px; background: url('../img/bg_close.png') 0 0 repeat; font-size: 24px;}

.popup-wait{  display:none;background:#fff; position:fixed; top: 50%; left: 50%; width: 300px; margin: -225px 0 0 -170px; z-index: 101;	border: 3px solid #e97e1c;border-radius: 10px;padding: 40px 20px;}

.popup-content{font-size: 20px; text-align: center;}
.popup-content11{text-align: center;}
#closeSuccess{border-radius: 20px;}
.popup-success{ display: none; position:fixed; top: 50%; left: 50%;  margin: -225px 0 0 -375px; z-index: 101;padding: 0px 0px;width: 750px;}
.popup-success img{width: 500px;border-radius: 21px;}
.overlay{display: none;position: fixed;background: #000;opacity: 0.5;top:0px;bottom: 0px;left: 0px;right: 0px;z-index: 100;}
/*-------------------------------------------------------- Errores y alertas */
.error { margin:10px 0; padding: 10px 0; border-top: 1px solid #E8E8E8; border-bottom: 1px solid #E8E8E8;  }
.error_404 { background: url(../img/bg_404.png) right center no-repeat; }
.error_503 { background: url(../img/bg_500.png) right center no-repeat; }
.error_500 { background: url(../img/bg_500.png) right center no-repeat; }
.error_empty { background: url(../img/bg_empty.png) right center no-repeat; }
.error_info { background: url(../img/bg_info.png) right center no-repeat; }
.version { position: absolute; top:5px; right: 90px; font-size: 11px; color: #999; text-shadow: 1px 1px 2px #999; }

form input.error {border: 1px solid #cc0000 !important;}
form label.error {display: none !important;}
input.error{border: 1px solid #ae272c;}
span.error{top: -26px;position: relative;color: #ae272c;font-size: 11px;font-weight: 400;}
.bg-register span.error {top: 0px;}


.logout{
	text-align: right;
	padding-top:10px; 
	margin-right: 10px;
}