body { background:#fff; font-family: 'Roboto Condensed', sans-serif; font-weight: 300; font-size: 14px; line-height: 1.6em; color: #444; padding: 0; margin: 0; }

.bg_login{border-radius:5px;font-size: 16px;background: rgba(224, 224, 224, 0.6) ;color: #7a7a7a;padding: 40px 0 25px;text-align: center;margin:30px 0;}
#content{background:url("#") center top no-repeat; background-size: 100%;}
.bg_login fieldset,.bg_login input{border: 0 none;margin: 0;outline: medium none;padding: 0;}
.bg_login label{font-weight: 500;float: left;width: 30%;padding-top: 9px;text-align: left;padding-left: 10px;color: #fff;}
.bg_login input {color: #fff;font-size: 15px; padding: 2px 10px; width: 60% !important; height: 36px; background-color: transparent;}
.bg_login img{max-width: 100%;}
.logintitle{ font-size: 20px; margin-top: 40px;}
.reg{background: #7a7a7a;border-radius: 5px;border: 1px solid #7a7a7a;margin: 15px auto;width: 300px;}
#formlogin{text-align: center;}
.imageslogin{margin-top: 100px;}
.button-red{background: #ff0000; color: #ffffff; background-image: linear-gradient(to bottom, #ff0000, #b00102);border: 0; text-shadow: none;font-size: 14px; padding: 5px 16px; }
.button-red:hover, .button-red:focus{ background: #b00102; color: #ffffff;}