body { background:#F6F6F6; font-family: 'Roboto Condensed', sans-serif; font-weight: 300; font-size: 13px; line-height: 1.6em; color: #444; padding: 0; margin: 0; }
/*############################################################################################################################# End of html elements */



/*-------------------------------------------------------- template */
.container{background: url(../img/bg_admin.jpg) top center no-repeat; background-size: 100% ;}
.wrapper{ margin: 15px 20px 25px 20px; background: rgba(255,255,255,0.8); padding:50px 20px;}
#hright{text-align: right;}
#hleft{margin-top: 5px;}
.button-red{background: #ff0000; color: #ffffff; background-image: linear-gradient(to bottom, #ff0000, #b00102);border: 0; text-shadow: none;font-size: 14px;}
.button-red:hover, .button-red:focus{ background: #b00102; color: #ffffff;}
.button-logout{padding: 2px 20px;}
/*------------------------------------------------------- home*/
label, input, button, select, textarea {font-size: 13px;font-weight: normal;line-height: 13px;}
input[type="radio"]{margin: 0px;}
.admin-header{background: #ff0000; padding: 10px 10px; margin-top: 20px;overflow: auto; color: #ffffff;}
.admin-header-buttons{padding-top: 15px;}
.button-filtro{min-width: 60px;}
.admin-content{border: 1px solid #ff0000; padding: 30px 15px 10px;}
.detailright{/*padding-top: 2px;*/}
.button-agregar{padding: 2px 16px; margin-right: 20px;}
.txtchanels{line-height: 1em;}
.txtchanels .tlink{color: #ff5252;}
.table1{margin: 20px auto;padding: 10px;width: 100%;table-layout: fixed;word-wrap: break-word; text-align: center;}
.table1 td{padding: 10px 0;}
.table1 td img{width: 18px;}
.table1 tr{height: 20px; border-bottom: 1px solid #ff0000;}
.txtleft{text-align: left;}

/*-------------------------------------------------------- Errores y alertas */
.error_404, .error_500, .error_empty, .error_info { margin:10px 0; padding: 10px 0; border-top: 1px solid #E8E8E8; border-bottom: 1px solid #E8E8E8; background: url(../img/bg_404.png) right center no-repeat; }
.error_500 { background: url(../img/bg_500.png) right center no-repeat; }
.error_empty { background: url(../img/bg_empty.png) right center no-repeat; }
.error_info { background: url(../img/bg_info.png) right center no-repeat; }
.version { position: absolute; top:5px; left: 8px; font-size: 11px; color: #bababa; text-shadow: 1px 1px 2px #999; z-index: 999; }

#page-style * { outline: 1px solid rgba(0,255,0,0.2); }