/*Developer GrupoFormax - @renzoc*/
@font-face {
    font-family: 'latobold';
    src: url('font/Lato-Bold-webfont.eot');
    src: url('font/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Lato-Bold-webfont.woff2') format('woff2'),
         url('font/Lato-Bold-webfont.woff') format('woff'),
         url('font/Lato-Bold-webfont.ttf') format('truetype'),
         url('font/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('font/Lato-Light-webfont.eot');
    src: url('font/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Lato-Light-webfont.woff2') format('woff2'),
         url('font/Lato-Light-webfont.woff') format('woff'),
         url('font/Lato-Light-webfont.ttf') format('truetype'),
         url('font/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('font/Lato-Regular-webfont.eot');
    src: url('font/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Lato-Regular-webfont.woff2') format('woff2'),
         url('font/Lato-Regular-webfont.woff') format('woff'),
         url('font/Lato-Regular-webfont.ttf') format('truetype'),
         url('font/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'icomoon';
  src:url('font/icomoon.eot?qen0xl');
  src:url('font/icomoon.eot?#iefixqen0xl') format('embedded-opentype'),
    url('font/icomoon.ttf?qen0xl') format('truetype'),
    url('font/icomoon.woff?qen0xl') format('woff'),
    url('font/icomoon.svg?qen0xl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook3:before {
  content: "\ea8e";
}
body,html,p{margin: 0;padding: 0;}
.contentpri{width: 982px;margin: 0 auto;}
.contentpri .banner{height: 408px;position: relative; background: url('../img/backpermio.png') no-repeat;}
.contentpri .banner .smsbienvenida{width: 550px;height: 100%;text-align: center;font-size: 28px;font-family: 'latobold';}
.contentpri .banner .smsbienvenida .mensaje{font-size: 16.86px;margin: 0 35px;font-family: 'latolight';}
.contentpri .banner .star .msjstar{position: absolute;top: 110px;left: 233px;text-align: center;}
.contentpri .banner .star .btnstar{width: 110px;height: 110px;background: url('../img/btncircle.png'); position: absolute;top: 250px;left: 326px;cursor: pointer;}
.contentpri .banner .star .btnstar:active{background-position-x: 100%;}
.contentpri .game{height: 620px;position: relative;}
.contentpri .game .rompe{background: #f5f6f6;height: 471px;}
.contentpri .game .rompe .timer{
width:257.5px;height:81px;float:left;color:white;font-family: 'latolight';text-align:center;

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #596067), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #596067 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #596067 5%, #000000 100%);
  background:-o-linear-gradient(top, #596067 5%, #000000 100%);
  background:-ms-linear-gradient(top, #596067 5%, #000000 100%);
  background:linear-gradient(to bottom, #596067 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#596067', endColorstr='#000000',GradientType=0);
  background-color:#596067;}
.contentpri .game .buttons{position: absolute;width: 100%;bottom: 18px;}
.contentpri .game .buttons a{text-decoration: none;}
.contentpri .game .rd{position: absolute;bottom: 4px;width: 100%;text-align: center;font-family: 'latolight';font-size: 12px;}
.contentpri .game .como{font-family: 'latolight';font-size: 17px;margin: 0 100px;}
.contentpri .game .como ol li{line-height: 48px;}
.contentpri .game .como ul li{margin-bottom: 20px;}
.contentpri .game .pregunta{}
.contentpri .game .pregunta .izq{width: 60%; display: inline-block;height: 100%;vertical-align: top;}
.contentpri .game .pregunta .izq .ques{font-size: 21.12px;font-family: 'latolight';text-align: center; margin: 0 9px;padding:20px 0;}
.contentpri .game .pregunta .izq .ques span{font-family: 'latobold';}
.contentpri .game .pregunta .izq .int{height: 420px;position: relative;}
.contentpri .game .pregunta .izq .int .resverdad,.contentpri .game .pregunta .izq .int .resmito{font-size: 15px;font-family: 'latoregular';color: #004d7e;background: #ededed;width: 128px;height: 53px;position: absolute;text-align: center;top: 0px;left: 125px;z-index: 1;}
.contentpri .game .pregunta .izq .int .resverdad p,.contentpri .game .pregunta .izq .int .resmito p{padding-top: 15px;}
.contentpri .game .pregunta .izq .int .resmito{color: #5a5a5a;left: 335px;}
.contentpri .game .pregunta .izq .int .verdad{height: 140px;width: 140px; background:url('../img/verdad.png');left: 120px;}
.contentpri .game .pregunta .izq .int .verdad:active{background-position-x: 100%;}
.contentpri .game .pregunta .izq .int .mito{height: 141px;width: 141px; background:url('../img/mito.png');right: 120px;}
.contentpri .game .pregunta .izq .int .mito:active{background-position-x: 100%;}
.contentpri .game .pregunta .izq .int .mito:active #amito{display: none !important;}
.contentpri .game .pregunta .izq .int .verdad, .contentpri .game .pregunta .izq .int .mito{font-size: 20px;color: white;font-family: 'latolight';text-align: center;cursor: pointer;position: absolute;top: calc(32% - 70px);}
.contentpri .game .pregunta .izq .int .verdad p, .contentpri .game .pregunta .izq .int .mito p{padding-top: 57px;}
.contentpri .game .pregunta .izq .int .explica{border: solid 1px #e4e4e4;width: 372px;border-radius: 5px;text-align: center;color: #3f799e;position: absolute;left: calc(50% - 186px);top: 220px;}
.contentpri .game .pregunta .izq .int .explica p{margin: 28px 10px;font-size: 15px;font-family: 'latolight';}
.contentpri .game .pregunta .izq .int .explica p span{font-family: 'latobold';}
.contentpri .game .pregunta .der{font-family: 'latolight';width: 39.59%; display: inline-block;height: 100%;vertical-align: top;color: #bbbbbb;text-align: center;}
.contentpri .game .pregunta .der #reloj{margin: 0;font-size: 40px;margin-bottom: 52px;border-bottom: solid 2px;width: 180px;margin-left: 104px;}
.contentpri .game .cajaguia{width: 222px;height: 72px; margin: 0 auto;border-radius: 4px; border:solid 1px #bebebe;margin-top: 26px;  box-shadow: 3px 3px #bebebe;}
.contentpri .game .cajaguia ul {margin-top: 18px;margin-left: -40px;}
.contentpri .game .cajaguia ul li{display: inline-block;background: #ebebeb;width: 36px;height: 36px;border-radius: 50%;  position: relative;}
.contentpri .game .cajaguia ul li span{position: absolute;color: white;top:10px;left:10px;}
.contentpri .game .cajaguia ul .good{ background: #20d979;border:solid 1px #bebebe;}
.contentpri .game .cajaguia ul .bad{background: #f91323;border:solid 1px #bebebe;}
.contentpri .game .resti{text-align: center;font-family: 'latolight';font-size: 23px;margin-top: 50px;}
.contentpri .game .resti span{font-family: 'latobold';}
.contentpri .game .formulario {font-family: 'latolight';}
.contentpri .game .formulario .intform{margin: 0 18px; padding-top: 32px;}
.contentpri .game textarea{ font-family: 'latolight'; width: 97.5%;height: 81px;border-radius: 5px;outline: none;border: solid 1px #c7c7c7;resize: none;margin-bottom: 7px;color: #3d6d97;font-size: 14px;padding-left: 14px;padding-top: 9px;}
.contentpri .game input[type="text"],  input[type="email"]{font-family: 'latolight'; width: 210px;height: 31px;  padding-left: 10px;font-size: 14px; display: inline-block;  border-radius: 5px;outline: none;border: solid 1px #c7c7c7;margin-bottom: 8px;color: #878787;}
.contentpri .game .formulario .intform table{font-size: 14px; color: red;font-style: italic;text-align: left;color: #878787;}
.contentpri .game .formulario .intform button{outline: none;border: none;background: none}
.contentpri .game .derechos{font-size: 12px !important; font-style: normal !important;color: #666666 !important;font-family: 'latoregular'!important;}
.contentpri .game .derechos a{color: #45749c;text-decoration: none;}
.contentpri .game .rtitle{font-size: 28px;font-family: 'latolight';text-align: center;margin-top: 60px;}
.contentpri .game .rtitle span{font-family: 'latobold';}
.contentpri .game .video {margin: 0 auto;}
.contentpri .game .video .opre,.contentpri .game .video .repre{height: 48px;width: 52px; background: #c7c7c7;font-family: 'latoregular';font-size: 25px;color: white;text-align: center;}
.contentpri .game .video .repre{width: 145px;font-family: 'latolight';cursor: pointer;}
.contentpri .game .video .repre.verdad{background: #004d7e;}
.contentpri .game .video .repre.mito{background: #929292;}
.slideno .box{background: #e4e4e4;position: relative;height: 96px;}
.slideno .box .stati{height: 92px;width: 201px;background: white;position: absolute;top: 2px;right: 4px;}
.slideno .box .orden{width: 73px;height: 96px;position: absolute;text-align: center;}
.slideno .box .orden p{font-size: 23px;font-family: 'latolight';margin-top: 31px;}
.slideno .box .datos{font-size: 15.01px;
    color: black;
    font-family: 'latolight';
    position: absolute;
    right: 20px;
    top: 22px;
    text-align: center;}
.slideno .box .datos .time{color: red;}
.btnface {
  -moz-box-shadow: 0px 10px 14px -7px #7f8182;
  -webkit-box-shadow: 0px 10px 14px -7px #7f8182;
  box-shadow: 0px 10px 14px -7px #7f8182;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f8ab0), color-stop(1, #063f6e));
  background:-moz-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-webkit-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-o-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-ms-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:linear-gradient(to bottom, #5f8ab0 5%, #063f6e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8ab0', endColorstr='#063f6e',GradientType=0);
  background-color:#5f8ab0;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:9px 43px;
  position: relative;
  text-decoration:none;
  text-shadow:0px 1px 0px #6e6e6e;
  font-family: 'latolight';
  padding-left: 63px;
  margin-top: 35px;
}
.btnface:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #063f6e), color-stop(1, #5f8ab0));
  background:-moz-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-webkit-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-o-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-ms-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:linear-gradient(to bottom, #063f6e 5%, #5f8ab0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#063f6e', endColorstr='#5f8ab0',GradientType=0);
  background-color:#063f6e;
}
.btnface:active {
  position:relative;
  top:1px;
}
.btnface .icon-facebook3{
	position: absolute;
    font-size: 22px;
    left: 26px;
    top: 5px;
}
.btnface2 {
  -moz-box-shadow: 0px 10px 14px -7px #7f8182;
  -webkit-box-shadow: 0px 10px 14px -7px #7f8182;
  box-shadow: 0px 10px 14px -7px #7f8182;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f8ab0), color-stop(1, #063f6e));
  background:-moz-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-webkit-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-o-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-ms-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:linear-gradient(to bottom, #5f8ab0 5%, #063f6e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8ab0', endColorstr='#063f6e',GradientType=0);
  background-color:#5f8ab0;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:5px 35px;
  position: relative;
  text-decoration:none;
  text-shadow:0px 1px 0px #6e6e6e;
  font-family: 'latolight';
  margin-top: 35px;
}
.btnface2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #063f6e), color-stop(1, #5f8ab0));
  background:-moz-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-webkit-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-o-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-ms-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:linear-gradient(to bottom, #063f6e 5%, #5f8ab0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#063f6e', endColorstr='#5f8ab0',GradientType=0);
  background-color:#063f6e;
}
.btnface2:active {
  position:relative;
  top:1px;
}
.btnface3 {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f8ab0), color-stop(1, #063f6e));
  background:-moz-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-webkit-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-o-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:-ms-linear-gradient(top, #5f8ab0 5%, #063f6e 100%);
  background:linear-gradient(to bottom, #5f8ab0 5%, #063f6e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f8ab0', endColorstr='#063f6e',GradientType=0);
  background-color:#5f8ab0;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding-top: 25px;
  position: relative;
  text-decoration:none;
  text-shadow:0px 1px 0px #6e6e6e;
  font-family: 'latolight';
  margin-top: 4px;
  height: 61px;
  border-radius: 50%;
  width: 86px;
}
.btnface3:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #063f6e), color-stop(1, #5f8ab0));
  background:-moz-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-webkit-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-o-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:-ms-linear-gradient(top, #063f6e 5%, #5f8ab0 100%);
  background:linear-gradient(to bottom, #063f6e 5%, #5f8ab0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#063f6e', endColorstr='#5f8ab0',GradientType=0);
  background-color:#063f6e;
}
.btnface3:active {
  position:relative;
  top:1px;
}
.cont-scroll{  
  text-align: justify;
  padding-right: 15px;
  height: 385px;
  width: 355px;
  overflow-y: scroll;
  margin: 0 auto;
  border:solid 1px #dbdbdb;
  padding:20px;}
.cont-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(219,219,219);
  
}
.cont-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(179,179,179);
}
.cont-scroll .people{
  width: 345px;
  height: 125px;
}
#terminosyco li{padding-top: 16px;}
.tooltipster-base{z-index: 2!important;}
.tooltipster-default{background: #c4c4c4!important;border:none!important;border-radius: 0!important;}
.tooltipster-default .tooltipster-content {padding: 0!important;}
.contentpri .perfil{border: solid 2px #b3b3b3;width: 150px;height: 150px;position: absolute;left: 50px;top: 106px;}
.contentpri .perfilra{border: solid 1px #b3b3b3;width: 108px;height: 108px;  margin-top: 7px;display:inline-block;}
.bol{font-size:28px;font-family: 'latobold';}
.lig{font-size:16.86px;font-family: 'latolight';}
.re{font-size:16.86px;font-family: 'latoregular';}
.central{width:467px;height:471px;float:left;}
.centralgame{position:absolute;top: 145px;margin-left: 60px;}
.benefi{width:257.5px;height:470px;float:left;text-align:center;}
.coma{width:93px;height:93px;border:solid 1px gray;border-radius:50%;margin-left: 145px;margin-top: 6px;}
.name{display:inline-block;position:relative;height: 90px;width: 66%;border-top:solid 1px #003b6a;}
.posi{position: absolute;right: 0;background: #003b6a;height: 100%;color: white;width: 45px;text-align: center;}