body
{
	background: url("../../img/countdown/preview.jpg") center top no-repeat;
}
#header
{
	background: none;
}

#content
{
	background: none;
	margin-top: 140px;
}
#content .container
{
	-webkit-box-shadow: 0 0 20px #000000;
	box-shadow: 0 0 20px #000000;
}

/* ---------------------------------------------------------------------------------------------------------- Countdown */
.countdown { background: url("../../img/banner_countdown.jpg") center center; text-align: center; min-height: 408px;  }
.countdown h1 { margin: 20px 0; font-size: 40px; position: inherit; line-height: 1.3em;}
.countdown h1 span { margin: 10px; display: inline-block; padding: 5px 10px; color: #FFF; background: #FFCB00; text-transform: uppercase; }
.countdown .desc { margin: 0 auto; width: 480px; }
.countdown .desc div { font-family: 'Roboto Condensed', sans-serif; float: left; width: 120px; color: #000; }
.countdown #counter { margin: 0 auto; width: 470px; }
.countdown #counter .cntSeparator { font-size: 50px; font-weight: 700; color: #000; line-height: 70px; vertical-align: middle; }

.mobile .countdown h1 { font-size: 17px; margin: 30px 0; }
.mobile .countdown .clock { margin: 0 0 0 -40px; -webkit-transform:scaleY(.6) scaleX(.6); }
